@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Message</title>
    </head>
    <body>
        <div>
              @ViewBag.Message
        </div>
    </body>
</html>