<migrationRules> <!--Xml menu -> Create schema -> rules.xsd -> Xml menu -> Schemas... -> Add rules.xsd -> Use-->
  <rules>
    <rule name="takeSourceRule" propertyGroup="takeSourceGroup" action="takeSourceAction" />
    <rule name="takeCompareRule" propertyGroup="takeCompareGroup" action="takeCompareAction"/>
    <rule name="takeNonNullRule" propertyGroup="takeNonNullGroup" action="takeNonNullAction"/>
    <rule name="removeAttributeRule" propertyGroup="removeAttributeGroup" action="removeAttributeAction"/>
    <rule name="addMissingArrayElementRule" propertyGroup="addMissingArrayElementGroup" action="addArrayElementAction"/>
  </rules>
  <actions>
    <action name="takeSourceAction" actionType="KeepSource"/>
    <action name="takeCompareAction" actionType="ReplaceSourceWithCompare"/>
    <action name="takeNonNullAction" actionType="TakeNonNullValue"/>
    <action name="removeAttributeAction" actionType="RemoveAttribute"/>
    <action name="addArrayElementAction" actionType="AddArrayElement"/>
  </actions>
  <propertyGroups>
    <propertyGroup name="takeSourceGroup">
      <property name="package.volume" />
      <property name="package.depositiondate"/>
    </propertyGroup>
    <propertyGroup name="takeCompareGroup">
      <property name="package.processdate"/>
    </propertyGroup>
    <propertyGroup name="takeNonNullGroup">
      <property name="package.comment"/>
    </propertyGroup>
    <propertyGroup name="removeAttributeGroup">
      <property name="package.sampleweight"/>
    </propertyGroup>
    <propertyGroup name="addMissingArrayElementGroup">
      <property name="package.measurement.measurement"/>
    </propertyGroup>
  </propertyGroups>
</migrationRules>